@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Shojumaru);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.wrapper {
	background-color: #606060;
	font-size: 12px;
	height: 100vh;
	margin: 1.5em auto;
	position: relative;
	text-align: center;
}

/*common*/
h2 {
	color: #FFF65A;
	font-family: 'Shojumaru', cursive;
	font-size: 2em;
	font-weight: 400;
}

p {
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em;
}

/*index*/
header {
	position: relative;
}

header a {
	display: inline-block;
}

header img {
	border-radius: 24%;
	display: inline-block;
	position: absolute;
	left: 3.5em;
	top: 1em;
	width: 6%;
}

header h1 {
	color: #E8471F;
	display: inline-block;
	font-family: 'Frijole', cursive;
	font-size: 5em;
	margin-bottom: -1em;
	margin-top: 0.25em;
}


*/
.about img {
	border-radius: 30%;
	margin-bottom: 1.2em;
}

.about p {
	display: inline-block;
	color: #45E4FF;
}

.login input {
	width: 16em;
}

#forgot {
	display: inline-block;
}


/*goal*/

.goal_form_label {
	display: inline-block;
}

.goal_input_gram, .goal_input_percent {
	width: 8em;
}

.goal_header_p {
	display: inline-block;
}

.goal_header_h {
	display: inline-block;
}

.goal_header_span {
	color: blue;
}

/*diary*/
table, th, td {
	border: 1px black solid ;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	width: 8em;
}


/*add*/
.foodResult {
	overflow-y: scroll;
}

/* for some reason doesn't work right now*/
.quantity {
	border: 2px solid green;
}

.quantity p {
	display: inline-block;
}

.quantity input {
	width: 3em;
}







































