<header>

	<p class='goal_header_p'>Hi, <span class='goal_header_span'>username</span></p>
	<h1 class='goal_header_h'>Add food</h1>
	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<hr>

	<nav>
		<a href='#' class='btn btn-primary'>Goal</a>
		<a href='#' class='btn btn-primary'>Daily Summary</a>
		<a href='#' class='btn btn-primary'>Add Food</a>

	</nav>
	</hr>

</header>