<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Calendar</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

</header>

<hr>

<main class='mainDiary'>

	<form action='/search' method='POST' role='form'>
		<p>Date: <input name='date' type="text" id="datepicker"></p>
		<button type='submit' class='btn btn-primary'>Food search</button>
	</form>

	<p>or</p>

	<form action='/:date' method='GET' role='form'>
		<button id="log_for_date" class='btn btn-primary'>Daily log</button>
	</form>

</main>

<script>
$("body").on("click", "#log_for_date", function(e) {
	e.preventDefault();

	var date = $("#datepicker").val();
	if (date) {
		window.location = "/diary/" + date;
	}
});
</script>