<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Diary</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

	<nav>
		<a href='/goal' class='btn btn-primary'>Goal</a>
		<a href='/diary' class='btn btn-primary'>Diary</a>
		<a href='/add' class='btn btn-primary'>Add Food</a>
		<a href = '/logout' class="btn btn-primary">Log out</a>

	</nav>

</header>

<main>

<p>Date: <input type="text" id="datepicker"></p>

	<table>
		<tr>
			<th>Food name</th>
			<th>Calories</th>
			<th>Carbohydrate</th>
			<th>Fat</th>
			<th>Protein</th>
		</tr>

	</table>


	<table>
		<tr>
			<th>Total</th>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>

		<tr>
			<th>Goal</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<th>Remaining</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

	</table>

	<a href='#' class='btn btn-primary'>Add food</a>


</main>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>

