<header class='row'>
	
	<img src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1>Calories Counter</h1>
	<a id="modal_trigger" href="#modal" class="signup btn btn-primary">Sign Up</a>

	<div id="modal" class="popupContainer" style="display:none;">
		<section class="popupHeader">
			<span class="header_title">Sign up</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</section>

		<section class="popupBody">

			<div class="user_register">
				
				<form method='POST' action='/'>

					<label>Name</label>
					<input name='name' type="text" placeholder='i.e. Wilson'>
					</br>					

					<label>Password</label>
					<input name='password' type="password" placeholder='i.e. seahawks (Min 8 characters)'>
					</br>

					<label>Confirm password</label>
					<input name='password2' type="password" placeholder='i.e. seahawks (Min 8 characters)'>
					</br>

					<label>Email Address</label>
					<input name='email' type="email" placeholder='i.e. pete@carroll.com'>
					</br>

					<div class="action_btns">
						<div>
							<input type='submit' class="btn btn_red">
						</div>
					</div>
				</form>
			</div>

		</section>
	</div>
	
	<hr>
</header>	

<main class='mainIndex row'>
	
	<article class='about col-xs-6 col-sm-6 col-md-6 col-lg-6'>
		<h2>Enjoy bacons and lose your love handle</h2>
		<img class='col-xs-3 col-sm-3 col-md-3 col-lg-3' src='/images/bacon_250.jpg' alt='Cheesy bacon' title='Cheesy bacon'>
		<p class='col-xs-9 col-sm-9 col-md-9 col-lg-9'>Calories counting is the most important step to loose weight. Combining calories counter app and ketogenic diet and you could eat as much bacon as you want and still shred your love handle. Ketogenic diet has also been helping people combat with diabetes type II.
		<br>
		Create an account, choose from thousands of food and the app will keep track of everything for you. Sign up to lean more.</p>
	</article>

	<article class='login col-xs-3 col-sm-3 col-md-3 col-lg-3'>
		<form action='/goal' method="POST" role="form">
			<div class="form-group">
				<label for="email">Email</label>
				<input name='email' type="text" class="col-xs-4-offset-4 col-sm-4-offset-4 col-md-4-offset-4 col-lg-4-offset-4 form-control" id="email" placeholder="bacon@yahoo.com">
				<label for="password">Password</label>
				<input name='password' type="password" class="form-control" id="password" placeholder="more bacon">
			</div>
		
			<button type="submit" class="btn btn-primary">Log in</button>
		</form>

	</article>

</main>

<script>

	$(function() {
		$('nav').hide();
	});

</script>