<header>
	
	<img src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1>Ketogenic Diet</h1>

	<a id="modal_trigger" href="#modal" class="btn btn-primary">Sign Up</a>

	<div id="modal" class="popupContainer" style="display:none;">
		<section class="popupHeader">
			<span class="header_title">Sign up</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</section>

		<section class="popupBody">

			<div class="user_register">
				
				<form method='POST' action='/'>

					<label>Name</label>
					<input name='name' type="text" placeholder='i.e. Wilson'>
					</br>					

					<label>Password</label>
					<input name='password' type="password" placeholder='i.e. seahawks (Min 8 characters)'>
					</br>

					<label>Confirm password</label>
					<input name='password2' type="password" placeholder='i.e. seahawks (Min 8 characters)'>
					</br>

					<label>Email Address</label>
					<input name='email' type="email" placeholder='i.e. pete@carroll.com'>
					</br>

					<div class="action_btns">
						<div>
							<input type='submit' class="btn btn_red">
						</div>
					</div>
				</form>
			</div>

		</section>
	</div>
	
	<hr>
</header>	

<main>

	<article class='about'>
		<h2>Enjoy bacons and lose your love handle</h2>
		<img src='/images/bacon_250.jpg' alt='Cheesy bacon' title='Cheesy bacon'>
		<p>Eat bacon as much as you want and loose that love handle. It's not a sales pitch. It's purely science. It's called Ketogenic diet. It has been helping people combat with diabetes type II. Sign up to lean more.</p>

	</article>

	<article class='login'>
		<a src='#' class='btn btn-primary' id='facebook'>Log in with facebook</a>
		
		<p>or</p>
		
		<form action='/goal' method="POST" role="form">
			<div class="form-group">
				<label for="email">Email</label>
				<input name='email' type="text" class="form-control" id="email" placeholder="Email">
				<label for="password">Password</label>
				<input name='password' type="password" class="form-control" id="password" placeholder="Password">
			</div>
		
			<button type="submit" class="btn btn-primary">Log in</button>
		</form>

		<p id='forgot'>Forgot Username or Password</p>
		<a href='#'>Click here</a>

	</article>

</main>

<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 100, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		$(".user_register").show();
	})

</script>


	
