<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Pick a food</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

</header>

<hr>
<main class='mainShow'>
				
	<% data.list.item.forEach(function(food) { %>
		<a href="<%= '/quantity/' + food.ndbno %> ">						
			<%= food.name %>						
		</a>
		<br>
	<% }); %>

</main>	