<header>

	<img class='goal_header_img' src='/images/logo_50.jpg' alt='Bacon logo' title='Eat more bacon'>
	<h1 class='goal_header_h'>Pick a food</h1>
	<p class='goal_header_p'>Hi, <span class='goal_header_span'><%= currentUser.name %></span></p>

</header>

<main>

	<div class="row">
		
			<div class="foodResult">
				
				<% data.list.item.forEach(function(food) { %>
					<a href="<%= '/quantity/' + food.ndbno %> ">
						<br>
						<%= food.name %>
						<br>
						<b><%= food.ndbno %></b>
					</a>
					<br>
				<% }); %>
				
			</div>

	</div>

</main>	